In [1]:
import pandas as pd

rightone = pd.read_csv('mix-market-social-performance-dataset.csv')
leftone = pd.read_csv('company-metadata.csv')
third = pd.read_csv('mix-market-financial-performance-dataset-in-usd.csv')

In [2]:
third.head()

,MFI ID,MFI Name,Fiscal Year,Currency,Period Type,As of Date,Personnel,Personnel > Gender > Female,Personnel > Gender > Male,Number of staff employed for one year or more,...,"Percentage of total transactions at sub-branches, number","Percentage of total transactions at ADCs, number","Percentage of total transactions at agents, value","Percentage of total transactions at merchant POS, value","Percentage of total transactions by internet, value","Percentage of total transactions by mobile banking, value","Percentage of total transactions at roving staff, value","Percentage of total transactions at sub-branches, value","Percentage of total transactions at ATMs, value","Percentage of total transactions at ADCs, value"
0,100372,1st Valley Bank,2000,USD,ANN,12/31/2000,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100372,1st Valley Bank,2001,USD,ANN,12/31/2001,81.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100372,1st Valley Bank,2002,USD,ANN,12/31/2002,91.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100372,1st Valley Bank,2003,USD,ANN,12/31/2003,114.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100372,1st Valley Bank,2004,USD,ANN,12/31/2004,142.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
leftone.head()

,MFI ID,MFI Name,MFI Full Name,Country,Region,Last known legal status,Last known profit status
0,100372,1st Valley Bank,1st Valley Bank (formerly Rural Bank of Kapata...,Philippines,East Asia and the Pacific,Rural Bank,Profit
1,100256,2CM,Cercle Communautaire Mieux,Benin,Africa,NGO,Non-profit
2,101922,3A Entreprises,3A Entreprises,Guinea,Africa,NBFI,Profit
3,170594,3PAD Fund Bac Kan,3PAD Fund for Bac Kan's Women,Vietnam,East Asia and the Pacific,Other,Non-profit
4,104283,A3C,Association des CVECA et CECA du Centre,Cameroon,Africa,NGO,Non-profit

In [4]:
final = rightone.merge(leftone, how= 'outer')

In [8]:
actualfinal = final.merge(third, how = 'outer')

In [9]:
actualfinal

,MFI ID,MFI Name,Fiscal Year,Period Type,As of Date,Social goals > Target market > Women,Social goals > Target market > Adolescents and youth (below 18),Social goals > Target market > Clients living in urban areas,Social goals > Target market > Clients living in rural areas,Social goals > Target market > None of the above,...,"Percentage of total transactions at sub-branches, number","Percentage of total transactions at ADCs, number","Percentage of total transactions at agents, value","Percentage of total transactions at merchant POS, value","Percentage of total transactions by internet, value","Percentage of total transactions by mobile banking, value","Percentage of total transactions at roving staff, value","Percentage of total transactions at sub-branches, value","Percentage of total transactions at ATMs, value","Percentage of total transactions at ADCs, value"
0,100372,1st Valley Bank,2011.0,ANN,12/31/2011,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100372,1st Valley Bank,2012.0,ANN,12/31/2012,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100372,1st Valley Bank,2013.0,ANN,12/31/2013,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100372,1st Valley Bank,2014.0,ANN,12/31/2014,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100372,1st Valley Bank,2018.0,ANN,12/31/2018,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44483,134212,Zion MFB,2008.0,ANN,12/31/2008,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44484,134212,Zion MFB,2009.0,ANN,12/31/2009,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44485,134212,Zion MFB,2010.0,ANN,12/31/2010,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44486,149250,Аltayskiy Fond Mikrozaymov,2010.0,ANN,12/31/2010,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44487,149250,Аltayskiy Fond Mikrozaymov,2011.0,ANN,12/31/2011,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
actualfinal.to_csv('actualfinalMerge.csv')